WEB_PORT=8090
POSTGRES_PASSWORD=replace_with_random_hex_password
ADMIN_USER=admin
ADMIN_PASSWORD=replace_with_random_password_at_least_12_characters

FRONTEND_URL=https://mapa.vmbperu.com
BACKEND_URL=https://mapabackend.vmbperu.com
FRONTEND_DOMAIN=mapa.vmbperu.com
BACKEND_DOMAIN=mapabackend.vmbperu.com
STACK_NAME=mapa-prod
